name: Deploy Static Website

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      # HTML validation
      - name: Validate HTML
     	uses: Cyb3r-Jak3/html5validator-action@v0.5.0
        with:
          root: .

      # CSS validation
      - name: Validate CSS
        run: |
          sudo apt-get install -y tidy
          tidy -qe **/*.css || true

      # JS linting
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install ESLint
        run: npm install -g eslint

      - name: Run ESLint
        run: eslint "**/*.js" || true

      # Deploy to Pages
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v2
        with:
          path: .

  deploy:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write

    steps:
      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v2
